<template>
    <v-dialog class="customDialog" v-model="show" max-width="400">
        <v-card class="roundedContainer elevation-12">
            <cardCustomHeader
                title="Nueva institución"
                icon="mdi-plus"
            ></cardCustomHeader>
            <v-card-text>
                <v-form>
                    <v-text-field
                        required
                        type="number"
                        label="CUISE"
                        @keyup.enter="submit"
                        v-model="newItem.cuise"
                        :error-messages="errors.cuise"
                    >
                    </v-text-field>
                    <v-text-field
                        required
                        type="text"
                        label="Institución"
                        @keyup.enter="submit"
                        v-model="newItem.institucion"
                        :error-messages="errors.institucion"
                    >
                    </v-text-field>
                    <v-text-field
                        type="text"
                        label="Direccion"
                        v-model="newItem.direccion"
                        :error-messages="errors.direccion"
                    >
                    </v-text-field>
                    <v-alert :value="!!errors.root" type="error">
                        {{ errors.root }}
                    </v-alert>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-btn outlined color="primary" @click="$emit('input')"
                    >Cancelar</v-btn
                >
                <v-spacer></v-spacer>
                <v-btn @click.prevent="submit" color="primary">Guardar</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import { mapActions } from "vuex";

export default {
    props: ["showDialog"],
    computed: {
        show: {
            get() {
                return this.showDialog;
            },
            set(showDialog) {
                this.$emit("input", showDialog);
            }
        }
    },
    data() {
        return {
            newItem: {
                cuise: "",
                institucion: "",
                direccion: ""
            },
            errors: []
        };
    },
    watch: {
        showDialog: function() {
            this.errors = [];
            this.newItem.cuise = "";
            this.newItem.institucion = "";
            this.newItem.direccion = "";
        }
    },
    methods: {
        ...mapActions({
            createInstitucion: "instituciones/createInstitucion",
            activeSnackbar: "helpers/activeSnackbar"
        }),
        submit() {
            this.createInstitucion([this.newItem])
                .then(() => {
                    this.activeSnackbar(["Creación Correcta", "success"]);
                    this.$emit("input");
                })
                .catch(error => {
                    this.errors = error;
                });
        }
    }
};
</script>
