<template>
    <v-dialog class="customDialog" v-model="show" max-width="400" v-if="item">
        <v-card class="roundedContainer elevation-12">
            <cardCustomHeader
                title="Modificar Institución"
                icon="mdi-pencil"
            ></cardCustomHeader>
            <v-card-text>
                <v-form>
                    <v-text-field
                        required
                        type="number"
                        label="CUISE"
                        @keyup.enter="submit"
                        v-model="item.cuise"
                        :error-messages="errors.cuise"
                    >
                    </v-text-field>
                    <v-text-field
                        required
                        type="text"
                        label="Institución"
                        @keyup.enter="submit"
                        v-model="item.institucion"
                        :error-messages="errors.institucion"
                    >
                    </v-text-field>
                    <v-text-field
                        type="text"
                        label="Direccion"
                        v-model="item.direccion"
                        :error-messages="errors.direccion"
                    >
                    </v-text-field>
                    <v-alert :value="!!errors.root" type="error">
                        {{ errors.root }}
                    </v-alert>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-btn
                    @click.prevent=""
                    outlined
                    color="primary"
                    @click="$emit('input')"
                    >Cancelar</v-btn
                >
                <v-spacer></v-spacer>
                <v-btn @click.prevent="submit" color="primary">Guardar</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import { mapActions } from "vuex";

export default {
    props: ["item", "index", "showDialog"],
    computed: {
        show: {
            get() {
                return this.showDialog;
            },
            set(showDialog) {
                this.$emit("input", showDialog);
            }
        }
    },
    data() {
        return {
            errors: []
        };
    },
    watch: {
        showDialog: function() {
            this.errors = [];
        }
    },
    methods: {
        ...mapActions({
            updateInstitucion: "instituciones/updateInstitucion",
            activeSnackbar: "helpers/activeSnackbar"
        }),
        submit() {
            this.updateInstitucion([this.item, this.index])
                .then(() => {
                    this.activeSnackbar(["Modificación Correcta", "success"]);
                    this.$emit("input");
                })
                .catch(error => {
                    this.errors = error;
                });
        }
    }
};
</script>
