.roundedContainer {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
} //

.btnOutLineNoBorder {
    border: none !important;
    margin: 0px !important;
}
.v-dialog {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
