<template>
    <v-layout class="cardCustomHeader">

        <v-sheet elevation="4"
                 class="cardCustomHeaderSheet" color="primary" height="90"
                 width="90">
            <v-icon class="cardCustomHeaderIcon" color="#eee">{{icon}}</v-icon>
        </v-sheet>
        <v-card-title class="cardCustomHeaderTitle">
            {{title}}
        </v-card-title>
    </v-layout>
</template>
<style>
    .cardCustomHeader {
        height: 70px !important;
        width: 100% !important;
        margin-top: 40px !important
    }

    .cardCustomHeaderSheet {
        border-radius: 10px !important;
        top: -30px !important;
        position: relative !important;
        left: 15px !important;
        margin: 0px !important;
    }

    .cardCustomHeaderIcon {
        font-size: 50px !important;
        width: 100% !important;
        height: 100% !important;
        font-color: #eee !important;
    }

    .cardCustomHeaderTitle {
        padding: 10px !important;
        padding-left: 30px !important;
        align-items: unset !important
    }
</style>
<script>
    export default {
        props: ['icon', 'title'],
    }
</script>
