<template>
    <v-dialog class="customDialog" v-model="show" max-width="400">
        <v-card class="roundedContainer elevation-12">
            <cardCustomHeader :title="title" :icon="icon"></cardCustomHeader>
            <v-card-text>
                <v-card-title> {{ text }}</v-card-title>
            </v-card-text>
            <v-card-actions>
                <v-btn outlined color="primary" @click="$emit('input')"
                    >No</v-btn
                >
                <v-spacer></v-spacer>
                <v-btn @click.prevent="$emit('yes')" color="primary">Si</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    props: ["icon", "title", "text", "showDialog"],
    computed: {
        show: {
            get() {
                return this.showDialog;
            },
            set(showDialog) {
                this.$emit("input", showDialog);
            }
        }
    }
};
</script>
