<template>
    <v-app>
        <v-content>
            <toolbar></toolbar>
            <navigation>
            </navigation>
            <router-view>

            </router-view>
        </v-content>
        <v-snackbar v-model="snackbar.active" :color="snackbar.color" :multi-line=true :timeout=6000 :bottom=true
                    :right=true>
            {{snackbar.message}}
            <v-btn dark text @click="snackbar = false">
                Cerrar
            </v-btn>
        </v-snackbar>
        <loading :loading="loading"></loading>
    </v-app>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'

    export default {
        computed: {
            ...mapGetters({
                snackbar: 'helpers/snackbar',
                loading: 'helpers/loading',
            }),
        },
        data: () => ({}),
    }
</script>