<template>
    <v-dialog
            v-model="loading"
            persistent
            width="300"
    >
        <v-card
                color="primary"
                dark
                style="padding:10px;"
        >
            <v-card-text style="font-weight: 200!important;">
                Por favor, espere...
                <v-progress-linear
                        indeterminate
                        color="white"
                        class="mb-0"
                ></v-progress-linear>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>
<script>
    export default {
        props: ['loading'],
    }
</script>