<template>
    <v-navigation-drawer
        color="blue-grey darken-4"
        app
        dark
        v-model="drawerVisible"
        clipped
    >
        <v-list dense nav>
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>Fresh Project</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <v-list dense nav>
            <v-list-item :to="{ path: '/' }">
                <v-list-item-icon>
                    <v-icon>mdi-home</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Home</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item key="Instituciones" :to="{ path: '/instituciones' }">
                <v-list-item-action>
                    <v-icon>mdi-school</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>
                        Instituciones
                    </v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
    mounted() {
        this.$root.$on("drawerClicked", () => {
            this.drawerVisible = !this.drawerVisible;
        });
    },
    data() {
        return {
            drawerVisible: false
        };
    }
};
</script>
