<template>
    <v-app-bar app clipped-left dense color="primary" dark>
        <v-app-bar-nav-icon
            @click="$root.$emit('drawerClicked')"
        ></v-app-bar-nav-icon>
        <v-toolbar-title>Fresh Project</v-toolbar-title>
    </v-app-bar>
</template>

<script></script>
