<template>
    <v-container fill-height>
        <v-layout align-start justify-center>
            <v-flex>
                <v-card class="roundedContainer elevation-4">
                    <cardCustomHeader
                        title="Instituciones"
                        icon="mdi-school"
                    ></cardCustomHeader>
                    <v-card-text>
                        <v-row align="center" justify="center">
                            <v-data-table
                                :headers="headers"
                                :items="tableData"
                                class="elevation-1"
                                style="width: 100%"
                                :search="search"
                            >
                                <template v-slot:top>
                                    <v-toolbar flat color="white">
                                        <v-text-field
                                            v-model="search"
                                            append-icon="mdi-search"
                                            label="Búsqueda"
                                            single-line
                                            hide-details
                                            style="max-width: 300px"
                                        ></v-text-field>
                                        <v-divider
                                            class="mx-4"
                                            inset
                                            vertical
                                        ></v-divider>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                            color="primary"
                                            dark
                                            class="mb-2"
                                            @click="dialogCreate = true"
                                            >Nueva</v-btn
                                        >
                                    </v-toolbar>
                                </template>
                                <template v-slot:item.opciones="{ item }">
                                    <v-tooltip bottom>
                                        <template v-slot:activator="{ on }">
                                            <v-btn
                                                class="btnOutLineNoBorder"
                                                @click="edit(item)"
                                                v-on="on"
                                                color="primary"
                                                fab
                                                small
                                                dark
                                                outlined
                                            >
                                                <v-icon>mdi-pencil</v-icon>
                                            </v-btn>
                                        </template>
                                        <span>Editar</span>
                                    </v-tooltip>
                                    <v-tooltip bottom>
                                        <template v-slot:activator="{ on }">
                                            <v-btn
                                                class="btnOutLineNoBorder"
                                                @click="showDelete(item)"
                                                v-on="on"
                                                color="primary"
                                                fab
                                                small
                                                dark
                                                outlined
                                            >
                                                <v-icon>mdi-delete</v-icon>
                                            </v-btn>
                                        </template>
                                        <span>Eliminar</span>
                                    </v-tooltip>
                                </template>
                            </v-data-table>
                        </v-row>
                    </v-card-text>
                    <updateDialog
                        :item="selectedItem"
                        :index="itemIndex"
                        :showDialog="dialogUpdate"
                        @input="dialogUpdate = false"
                    ></updateDialog>
                    <createDialog
                        :showDialog="dialogCreate"
                        @input="dialogCreate = false"
                    ></createDialog>
                    <deleteDialog
                        icon="mdi-delete"
                        v-if="selectedItem"
                        :title="selectedItem.institucion"
                        text="Confirma eliminación?"
                        @yes="del"
                        @input="dialogDelete = false"
                        :showDialog="dialogDelete"
                    ></deleteDialog>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<style></style>
<script>
import { mapActions, mapGetters } from "vuex";
import updateDialog from "./subcomponents/update.vue";
import createDialog from "./subcomponents/create.vue";
import deleteDialog from "../../../components/custom/YesNoDialog.vue";

export default {
    components: {
        updateDialog,
        createDialog,
        deleteDialog
    },
    computed: {
        ...mapGetters({
            instituciones: "instituciones/instituciones"
        })
    },
    mounted() {
        this.fetchInstituciones()
            .then(() => {
                this.tableData = this.instituciones;
            })
            .catch(error => {
                this.activeSnackbar([error, "red"]);
            });
    },
    data() {
        return {
            tableData: [],
            headers: [
                { text: "ID", align: "left", value: "id", sortable: false },
                {
                    text: "CUISE",
                    align: "left",
                    value: "cuise",
                    sortable: true
                },
                {
                    text: "Institución",
                    align: "left",
                    value: "institucion",
                    sortable: true
                },
                {
                    text: "Dirección",
                    align: "left",
                    value: "direccion",
                    sortable: false
                },
                {
                    text: "Opciones",
                    align: "left",
                    value: "opciones",
                    sortable: false
                }
            ],
            search: "",
            dialogNew: false,
            selectedItem: null,
            dialogUpdate: false,
            dialogCreate: false,
            dialogDelete: false,
            itemIndex: null
        };
    },
    methods: {
        ...mapActions({
            fetchInstituciones: "instituciones/fetchInstituciones",
            deleteInstitucion: "instituciones/deleteInstitucion",
            activeSnackbar: "helpers/activeSnackbar"
        }),
        edit(item) {
            this.selectedItem = Object.assign({}, item);
            this.itemIndex = this.tableData.indexOf(item);
            this.dialogUpdate = true;
        },
        showDelete(item) {
            this.selectedItem = item;
            this.dialogDelete = true;
        },
        showAddFirma(item) {
            this.selectedItem = item;
            this.dialogAddFirma = true;
        },
        del() {
            this.deleteInstitucion(this.selectedItem)
                .then(() => {
                    this.activeSnackbar(["Eliminacion Correcta", "success"]);
                    this.dialogDelete = false;
                })
                .catch(error => {
                    this.activeSnackbar([error, "red"]);
                });
        }
    }
};
</script>
